<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="WindowsFormsApplication3.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <appSettings>
    <add key="username" value="admt" />
    <add key="password" value="wander88" />
    <add key="serverIP" value="219.232.48.105" />
    <add key="localBase" value="EMPOX_DM" />
    <add key="Port" value="11001" />
    <add key="Basecon" value="server=220.231.137.51;database=EMPOX_DM;uid=sa;pwd=ideemonto!@90zgtyb" />
    <add key="SmtpServer" value="mail.empox.cn" />
    <add key="SmtpPort" value="25" />
    <add key="SmtpUser" value="DMtest@empox.cn" />
    <add key="SmtpPwd" value="111111" />
    <add key="DefaultShop" value="H209" />
    <add key="DefaultSales" value="209001" />
    <add key="CouponValue" value="10" />
    <add key="UseDate" value="1" />
    <add key="SMSSuffix"  value="[埃迪蒙托]" />
    <!--<add key="DefaultV" value="888888" />-->
    <add key="SMSFlag" value="1" />
    <add key="DefaultCompanyID" value="00202" />
    <!--<add key="MessageInfo" value="尊敬的@Uname@title,您已注册为埃迪蒙托会员,卡号为:@vipcode,初始密码为@pwd，已赠送50积分,@value元优惠券:@id,请在消费时出示该序列号。今后购物时请要求店铺为您积分。详情登陆www.mansate.com" />-->
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
  <applicationSettings>
    <WindowsFormsApplication3.Properties.Settings>
      <setting name="DataProcessSystem_Getcoupon_couponService" serializeAs="String">
        <value>http://220.231.137.51:8001/couponService.asmx</value>
      </setting>
      <setting name="DataProcessSystem_SMSService_smsService" serializeAs="String">
        <value>http://219.232.48.105:8090/smsService.asmx</value>
      </setting>
    </WindowsFormsApplication3.Properties.Settings>
  </applicationSettings>
</configuration>